/* 
###################################
COMMON
################################### 
*/

body {
    background-color: #1da1f2;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 600PX;
    height: 100%;
    margin: auto;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    
}
.content .main-header{
    background-color: #1da1f2;
    display: flex;
    flex-direction: row;
    border: 2px solid black;

}
.content .logo{
    width: 60px;
}


/* 
###################################
POST
################################### 
*/

.post_form{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: larger;
    border: 1px solid black;
    
}
form input , form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: larger;
}
form .flex-input{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid black;
}
form .flex-input .submit{
    position: relative;
    background-color: #1da1f2;

}

.post_form textarea{
    width: 100%;
    padding: 20px 40px;
    border: 1px solid white;

}
.posts ul{
    padding: 0;
}
.posts li {
    display: flex;
    border-bottom: 1px solid black;
    padding: 20px 40px;
    position: relative;
}
.posts li  .menu_icon{
width: 30px;
position: absolute;
top: 18px;
right: 30px;

}
.posts li .menu{
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: small;
}
.posts li .menu a{
    text-decoration: none;

}

.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60%;
}

.posts li .name_body {
    flex-basis: 85%;
}
.posts li .like{
    position: absolute;
    bottom: 0px;
    right: 100px;

}
.posts li .like img{
    width: 18px;
}

.posts li .name_body .name{
    font-weight: bold;
}

.posts li .name_body .datetime{
    color: grey;
}

@media screen and (max-width = 500px) {
    .posts li .name_body{
        font-size: 20px;
    }
}