{% extends "base.html" %}{% block content %}
{% load static %}

<section class='content'>
    <section class='post_form'> Home</section>
    <form action="/" method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name" required> <br>
        <textarea name="body" placeholder="Tell us anything" required></textarea> <br>
        <input type="submit" value="Tweet">
    </form>
    <section class="posts">
        <ul>
            {% for post in posts %}
            <li>
                <div class="logo">
                    <img src="{% static 'img\profile-user.png' %}">
                </div>
                <div class="name_body">
                    <div class="name">{{post.name}}</div>
                    <div class="datetime"> {{post.created_at}}</div>
                    <p> {{post.body}}</p>

                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="like-button">
                            <img src="{% static 'static\img\heart.png'%}" alt="Like">
                        </button>
                        <span class="like-count">{{ post.likes.count }}</span>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
</section>

{% endblock content %}